body {
    background-image: url("images/pinboard.png");
    background-size: 100%;
    background-repeat: repeat;
    font-family: 'Gloria Hallelujah', cursive;
    }

#img-border{
    border-radius: 20px;
    border: 5px solid black;
    padding: 0px;  
      }

#index-head{
	font-family: 'Monofett', cursive;
	font-size: 200px;
}

#photo{
    height:200px;
    width: 200px;
    border-radius: 20px;
    border: 5px solid red;
    padding: 0px;
}

#label{
    text-align: center;
    color: red;
}

.about{
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  padding: 10px;
}

#social-buttons {
    text-align: center;
    padding: 10px;
}

.show-description {
    opacity: 1;
}

.hidden{
    opacity: 0;
}

h1 {
   text-align: center;
}

.top {
	border-left: none;
}
.first {
	background-color: rgba(0,255,0,0.3);
	color: black;
}
.third {
	background-color: rgba(255,255,0,0.3);
	color: black;
}
.second {
	background-color: rgba(255,0,0,0.3);
	color: black;
}

#imgborder {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
    position: relative;
    background: transparent;
    border: none;
}

.caption {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

.postit {
	font-size: 70px;
}

.pagenames {
	color: black;
	text-decoration: none;
}


.pagenames:hover {
    color: white;
    text-decoration: none;
}

.btn-twitter {
    background-color: rgb(86, 151, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-facebook {
    background-color: rgb(24, 69, 142);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.btn-pinterest {
    background-color: rgb(226, 18, 28);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

input[type=text] {
    border: 2px solid purple;
    background-color: pink;
    border-radius: 4px;
    display:block;
    margin:10px auto;
}

button {
	color: purple;
	background-color: pink;
    display:block;
    margin:10px auto;
}

p {
    display:block;
    margin:0px auto;
    text-align: center;
    padding: 10px;
}

.link {
	color: purple;
	text-decoration: none;
}

.link:hover {
    color: white;
    text-decoration: none;
}

#signup {
	font-size: 200%;
}