body {
    background-image: url("images/pinboard.png");
    background-size: 100%;
    background-repeat: repeat;
    font-family: 'Gloria Hallelujah', cursive;
    }

#img-border{
    border-radius: 20px;
    border: 5px solid black;
    padding: 0px;  
      }

#index-head{
	font-family: 'Monofett', cursive;
	font-size: 200px;
}

#photo{
    height:200px;
    width: 200px;
    border-radius: 20px;
    border: 5px solid red;
    padding: 0px;
}

#label{
    text-align: center;
    color: red;
}

.about{
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  padding: 10px;
}

#social-buttons {
    text-align: center;
    padding: 10px;
}

.show-description {
    opacity: 1;
}

.hidden{
    opacity: 0;
}

h1 {
   text-align: center;
}

.top {
	border-left: none;
}
.first {
	background-color: rgba(0,255,0,0.3);
	color: black;
}
.third {
	background-color: rgba(255,255,0,0.3);
	color: black;
}
.second {
	background-color: rgba(255,0,0,0.3);
	color: black;
}

#imgborder {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
    position: relative;
    background: transparent;
    border: none;
}

#paragr1{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}

.postit {
	font-size: 70px;
}
