h1 {
	color: pink;
	font-family: Helvetica;
}

p {
	color: rgb22, 45, 34);
	font-family: Helvetica
	font-size: 16px;
}

body {
	background-image: url(http://2.bp.blogspot.com/-yfR-QZl3Po0/VMbK8OOz5OI/AAAAAAAAAu8/CdDwo9XPFhw/s1600/cork.png);
	background-size:cover
}

img {
	width: 50%;
	border-radius: 15%
}

.nav {
	text-align: center;
	background-color: rgb(150, 39, 144);
	padding: 10px 0px 10px 0px;
}

li {
	display: inline;
	float: left;
}

img {
	padding: 10px;
	display: block;
	margin: 0 auto;
}
