h1 {
	color: pink;
}

p {
	color: rgb22, 45, 34);
	font-size: 16px;
}

body {
	background-image: url(http://2.bp.blogspot.com/-yfR-QZl3Po0/VMbK8OOz5OI/AAAAAAAAAu8/CdDwo9XPFhw/s1600/cork.png);
	background-size:cover
}

li {
	display: inline;
	float: left;
}

img {
	padding: 10px;
	display: block;
	margin: 0 auto;
	border: 5px solid black;
	width: 50%;
	border-radius: 15%
}