h1 {
	color: pink;
	font-family: Helvetica;
}

p {
	color: blue;
	font-family: Helvetica
	font-size: 16px;
}

body {
	background-image: url(https://testdrive-archive.azurewebsites.net/performance/chalkboard/Images/EmptyChalkboard.svg);
	background-size:cover
}

img {
	width: 50%;
	border-radius: 25%
}

.nav {
	text-align: center;
	background-color: rgb(150, 39, 144);
	padding: 10px 0px 20px 0px;
}

li {
	display: inline;
	float: left;
}

img {
	padding: 10px;
	display: block;
	margin: 0 auto;
}
